.imgCategory{
   transition: 1s ease;
}

.imgCategory:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

.imgProducts{
transition: 1s ease;
filter: brightness(80%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.imgProducts:hover{
   filter: brightness(100%);
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 1s ease;
 
}





@media all and (max-width: 575.98px){

.navbar{
   position: static;
}

.bannerPanaderia{
    height: 250px;
    object-fit: cover;

    }

 .logoFooter{
    display: flex;
    justify-content: center;
 }  
 
 .redesFooter{
   display: flex;
   justify-content: center;
 }
 
}

